bucket         = "mlops-platform-tfstate-183590992229"
key            = "mlops-platform/aws/dev/terraform.tfstate"
region         = "eu-west-1"
encrypt        = true
dynamodb_table = "mlops-platform-terraform-locks"
