apiVersion: machinelearning.seldon.io/v1
kind: SeldonDeployment
metadata:
  name: sklearn-iris
  namespace: mlops
spec:
  name: sklearn-iris
  predictors:
    - name: default
      replicas: 1
      graph:
        name: classifier
        implementation: SKLEARN_SERVER
        modelUri: gs://seldon-models/v1.19.0-dev/sklearn/iris
      componentSpecs:
        - spec:
            containers:
              - name: classifier
                resources:
                  requests:
                    cpu: 100m
                    memory: 256Mi
                  limits:
                    cpu: 500m
                    memory: 512Mi
---
# A/B Test Example
apiVersion: machinelearning.seldon.io/v1
kind: SeldonDeployment
metadata:
  name: ab-test-example
  namespace: mlops
spec:
  name: ab-test
  predictors:
    - name: model-a
      traffic: 50
      replicas: 1
      graph:
        name: classifier-a
        implementation: SKLEARN_SERVER
        modelUri: gs://seldon-models/sklearn/iris-v1
    - name: model-b
      traffic: 50
      replicas: 1
      graph:
        name: classifier-b
        implementation: SKLEARN_SERVER
        modelUri: gs://seldon-models/sklearn/iris-v2
---
# Canary Deployment Example
apiVersion: machinelearning.seldon.io/v1
kind: SeldonDeployment
metadata:
  name: canary-example
  namespace: mlops
spec:
  name: canary
  predictors:
    - name: stable
      traffic: 90
      replicas: 2
      graph:
        name: classifier
        implementation: SKLEARN_SERVER
        modelUri: gs://seldon-models/sklearn/iris-stable
    - name: canary
      traffic: 10
      replicas: 1
      graph:
        name: classifier
        implementation: SKLEARN_SERVER
        modelUri: gs://seldon-models/sklearn/iris-canary
